$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-container {
  height: 100%;
}
.el-header {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}
.el-aside {
  background-color: #293b5a;
  color: #333;
}
.el-main {
  background-color: #f2f6fd;
  color: #333;
}
.el-menu {
  background-color: transparent;
  border-right: none;
}
.el-menu-item {
  color: #7777af;
}
.el-menu-item.is-active {
  color: #37b9b4;
  //border-left: 4px solid #37b9b4;
}
.el-menu-item:hover, .el-menu-item:focus {
  background-color: transparent;
}
.el-button.custom {
  color: #ffffff;
  background: linear-gradient(to right, #4dc3e4, #a1e9d9);
  border-radius: 8px;
}
.el-button.custom:hover, .el-button.custom:focus {
  color: #ffffff;
}
.el-button:hover {
  opacity: 0.8;
}

// el-table 的表头样式
.el-table__header-wrapper {
  border-radius: 0px;
}
.el-table tr.blackTableHeader th {
  background: #8388a1;
  color: #fff;
}
.el-table tr.blackTableHeader th + th div {
  border-left: 1px solid #ffffff;
}
