@font-face {
    font-family: "ROME";
    src: url('../fonts/290-CAI978.TTF');
    font-weight: normal;
    font-style: normal;
   }
@font-face{
    font-family:'yiwei';
    src: url("../fonts/yiwei.ttf");
    font-weight:normal;
    font-style:normal;
   }