/*css reset*/
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
iframe {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    resize: none;
}

fieldset,
img {
    border: 0;
}

img {
    vertical-align: center;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

dl,
ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr,
acronym {
    border: 0;
}

.clear {
    zoom: 1;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

a,
a:hover {
    text-decoration: none;
}

input,
input:focus {
    outline: none;
}

body {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 14px;
}

.buttonPos:focus {
    outline: none;
}

/*  分页改变页数的样式 */
.el-select-dropdown {
    background: #041c3f !important;
    border: 1px solid #041c3f !important;
}

.el-select-dropdown__item {
    color: #00ccff !important;

}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: rgba(0, 204, 255, 0.3) !important;
}

.el-select-dropdown__item.selected {
    color: #00ccff;
}

/* 滚动条样式 */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #041530;
    border-radius: 4px;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #057ac5;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #057ac5;
}

/* 表格样式 */


.el-table--border::after,
.el-table--group::after,
.el-table::before {
    background-color: #006d94 !important;
}

.el-table,
.el-table__expanded-cell,
.el-table th,
.el-table tr {
    background-color: transparent !important;
}

.el-table th {
    .cell {
        background-image: linear-gradient(top,
                #00f6fb 0%,
                #00ff98 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.el-table .cell {
    line-height: 48px !important;
    // font-size: 24px !important;
    // background-image: linear-gradient(top,
    //         #00f6fb 0%,
    //         #00ff98 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.el-table--border,
.el-table--group {
    border-color: #006d94 !important;
}

td {
    border-color: #006d94 !important;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: transparent !important;
}

.el-table__header-wrapper {
    .el-table__header {
        font-size: 24px !important;
        height: 48px !important;
        line-height: 48px !important;

        tr {

            border-color: #006d94 !important;
        }

        th {
            padding: 0px !important;
            border-color: #006d94 !important;
            background: url(../../common/images/title_bg.png) no-repeat center center;
            background-size: 100% 100%;

        }
    }
}

.el-table__body {
    .el-table__row {
        height: 64px !important;
        line-height: 64px !important;
        font-size: 48px !important;
        color: #ffffff !important;
        text-align: center;

        td {
            color: #ffffff;
            border-color: #006d94;
            border-top: none;

            .cell {
                color: #ffffff !important;
                -webkit-text-fill-color: #ffffff;
                font-size: 48px;
            }
        }

        td:first-of-type,
        .el-table_1_column_1 {
            color: #ffffff;
            font-size: 24px;
            background: none;
            -webkit-text-fill-color: #ffffff;
        }
    }
}