@import "../../../../common/styles/font.css";
#calledAna{
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  background-image: url("../../../../common/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .header{
    width: 100%;
    height: 110px;
    padding:0px 40px;
    padding-left:0px;
    box-sizing:border-box;
    position: relative;
    top:40px;
    .header_left{
      float: left;
    }
    .header_right{
      float:right;
      position: absolute;
      right:40px;
      top:30px;
      .detailButton{
        margin-right: 40px;
      }
      .buttonPos{
        width:150px;
        height:45px;
        background:transparent;
        border:none;
        padding:0;
      }
    }
  }
  .content-wrapper{
    width:calc(100%-40px);
    height:880px;
    overflow: hidden;
    padding:40px;
  }

}