@import "../../../../common/styles/font.css";
#calledAna{
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  background-image: url("../../../../common/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .header{
    width: 100%;
    height: 110px;
    padding:0px 40px;
    padding-left:0px;
    box-sizing:border-box;
    position: relative;
    top:40px;
    .header_left{
      float: left;
    }
    .header_right{
      float:right;
      position: absolute;
      right:40px;
      top:30px;
      .detailButton{
        margin-right: 40px;
      }
      .buttonPos{
        width:150px;
        height:45px;
        background:transparent;
        border:none;
        padding:0;
      }
    }
  }
  .outBigModal {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    opacity: 60%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 9999;
    .big_modal_unit{
      width:714px;
    }
    .big_modal_person{
      width:1071px;
    }
  }
  .big_modal {
    width: 991px;
    height: 602px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .modalTitle {
      height: 30px;
      line-height: 30px;
      font-size: 24px;
      color:#fff;
    }
  }
   // 弹出框
   .showMoreDiv {
    width: 100%;
    height: 570px;
    background: url(../content.png) no-repeat center center;
    background-size: 100% 100%;
    z-index: 9999;
    padding: 20px;
    padding-bottom: 40px;
    overflow: hidden;
    .nei {
      width: 100%;
      height: 100%;
      position: relative;
      top: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      .itemTable{
        width:100%;
        height:192px;
        div{
            display: block;
            border: 1px solid  #003e70;
            text-align: center;
            width:235px;
            float:left;
            .label{
              font-size: 24px;
              height:43px;
              line-height: 43px;
              color: #ffffff;
              background: url(../title_bg.png);
            }
            .number{
              font-size: 24px;
              height:70px;
              line-height: 70px;
              background-image: linear-gradient(top, #00f6fb 0%, #00ff98 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
            }
          
        }
      }
      .contextAna{
        width:930px;
        height:117px;
        background:url("../context.png")no-repeat center center;
        background-size:100% 100%;
        text-align: center;
        line-height: 1;
        font-size: 24px;
        line-height: 117px;
        background-image: linear-gradient(top, #00f6fb 0%, #00ff98 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        position: absolute;
        bottom:30px;
        right: 10px;
      }
    }
    .closeImg {
      position: absolute;
      right: 10px;
      top: 50px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .content-wrapper{
    width:calc(100%-40px);
    height:880px;
    overflow: hidden;
    padding:40px;
    .el-table{
      overflow-y: auto;
      overflow-x: hidden;
    }
    .el-table__header-wrapper{
      // border:1px solid #006d94;
      .el-table__header{
      
        font-size:24px;
        color:#ffffff;
        height:64px;
        line-height: 64px;
        th{
          border:1px solid #006d94;
          background:url(../title_bg.png) no-repeat center center;
          background-size:100% 100%;
        }
      }
      
    }
    .el-table__body{
      .el-table__row{
        height:64px;
        line-height: 64px;
        font-size:48px !important;
        color:#ffffff !important;
        text-align: center;
        td{
          font-family: ROME;
          background-image: linear-gradient(top, #00f6fb 0%, #00ff98 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border:1px solid #006d94;
          border-top:none;
        }
        .el-table_1_column_1 {
          color:#ffffff;
          font-size:24px;
          background: none;
          -webkit-text-fill-color: #ffffff;
        }
      }
    }

   
  }

}