@import "../../../../common/styles/font.css";
#calledAna{
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  background-image: url("../../../../common/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .header{
    width: 100%;
    height: 110px;
    padding:0px 40px;
    padding-left:0px;
    box-sizing:border-box;
    position: relative;
    top:40px;
    .header_left{
      float: left;
    }
    .header_right{
      float:right;
      position: absolute;
      right:40px;
      top:30px;
      .detailButton{
        margin-right: 40px;
      }
      .buttonPos{
        width:150px;
        height:45px;
        background:transparent;
        border:none;
        padding:0;
      }
    }
  }
  .content-wrapper{
    width:calc(100%-40px);
    height:880px;
    overflow: hidden;
    padding:40px;
    .el-table{
      overflow-y: auto;
      overflow-x: hidden;
    }
    .el-table__header-wrapper{
      // border:1px solid #006d94;
      .el-table__header{
      
        font-size:24px;
        color:#ffffff;
        height:64px;
        line-height: 64px;
        th{
          border:1px solid #006d94;
          background:url(../../../../common/images/title_bg.png) no-repeat center center;
          background-size:100% 100%;
        }
      }
      
    }
    .el-table__body{
      .el-table__row{
        height:64px;
        line-height: 64px;
        font-size:48px !important;
        color:#ffffff !important;
        text-align: center;
        td{
          font-family: ROME;
          background-image: linear-gradient(top, #00f6fb 0%, #00ff98 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border:1px solid #006d94;
          border-top:none;
        }
        .el-table_1_column_1 {
          color:#ffffff;
          font-size:24px;
          background: none;
          -webkit-text-fill-color: #ffffff;
        }
      }
    }

   
  }

}