@import "../../../../common/styles/font.css";

#calledAna {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  background-image: url("../../../../common/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .content-wrapper1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 10px;
  }

  // 表格样式
  .myTable {
    width: 100%;
    height: 863px;

    .el-table--border::after,
    .el-table--group::after,
    .el-table::before {
      background-color: #006d94 !important;
    }

    .el-table,
    .el-table__expanded-cell,
    .el-table th,
    .el-table tr {
      background-color: transparent !important;
    }

    .el-table .cell {
      line-height: 30px;
      background-image: linear-gradient(top,
          #00f6fb 0%,
          #00ff98 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .el-table--border,
    .el-table--group {
      border-color: #006d94 !important;
    }

    td {
      border-color: #006d94 !important;
    }

    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background-color: transparent !important;
    }

    .el-table__header-wrapper {
      .el-table__header {
        font-size: 24px;

        height: 64px;
        line-height: 64px;

        tr {

          border-color: #006d94 !important;
        }

        th {
          padding: 0px !important;
          border-color: #006d94 !important;
          background: url(../../../../common/images/title_bg.png) no-repeat center center;
          background-size: 100% 100%;


        }
      }
    }

    .el-table__body {
      .el-table__row {
        height: 64px;
        line-height: 64px;
        font-size: 48px !important;
        color: #ffffff !important;
        text-align: center;

        td {
          color: #ffffff;
          border-color: #006d94;
          border-top: none;
          font-size: 24px;

          .cell {
            color: #ffffff !important;
            -webkit-text-fill-color: #ffffff;
          }
        }

        td:first-of-type,
        .el-table_1_column_1 {
          color: #ffffff;
          font-size: 24px;
          background: none;
          -webkit-text-fill-color: #ffffff;
        }
      }
    }
  }

  // 分页按钮样式
  .pageRate {
    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: 15px;

    .el-select__caret {
      color: #00ccff;
    }

    .el-pagination .btn-prev,
    .el-pagination .btn-next {
      background: center center no-repeat;
      background-size: 16px;
      background-color: transparent !important;
      cursor: pointer;
      margin: 0;
      color: #00ccff !important;
    }

    .el-pagination {
      color: #00ccff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: ROME;

      .el-pager li {
        font-size: 18px;
        padding: 0 4px;
        background: transparent;
      }

      .el-pager li.active {
        color: #fff;
      }

      .el-input__inner {
        font-size: 18px;
        -webkit-appearance: none;
        background-color: transparent;
        background-image: none;
        border-radius: 10px;
        border: 1px solid #024454;
        color: #00ccff;
      }

      .el-pagination__total {
        color: #00ccff;
        font-size: 18px;
      }

      .el-pagination__jump {
        margin-left: 24px;
        font-weight: normal;
        color: #00ccff;
        font-size: 18px;
      }

      .el_pagenation button {
        background: transparent !important;
        color: #00ccff !important;
      }

      .el-pagination button.btn-prev {
        background: center center no-repeat;
        background-size: 16px;
        background-color: transparent;
        cursor: pointer;
        margin: 0;
        color: #00ccff;
      }

      .el-pagination .btn-next {
        background: center center no-repeat;
        background-size: 16px;
        background-color: transparent !important;
        cursor: pointer;
        margin: 0;
        color: #00ccff !important;
      }

      .el-pagination button:disabled {
        color: #00ccff !important;
        background-color: transparent !important;
        cursor: not-allowed;
      }
    }
  }

}